<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>会员登录页面</title>
	<!--写base标签，永远固定相对路径跳转的结果-->
	<base href="http://localhost:8080/library/">
<link type="text/css" rel="stylesheet" th:href="@{css/style.css}" >
	<style>
		body {
			overflow: hidden;
			background-image: url("http://localhost:8080/library/img/mm.jpg");
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-position:center 0;
			background-size:cover
		}
	</style>


</head>

<body>
<div id="login_header">
	<img class="logo_img" alt="" src="./img/logo1.jpg" >
</div>



<div id="l_content">
	<span class="login_word">欢迎登录</span>
</div>

<div id="content">
	<div class="login_form">
		<div class="login_box">
			<div class="tit">
				<h1>会员登录</h1>
				<a th:href="@{/regist}">立即注册</a>
			</div>
			<div class="msg_cont">
				<b></b>
				<span class="errorMsg">[[${msg!=null ? msg:'请输入用户名和密码'}]]</span>
			</div>
			<div class="form">
				<form name="form1" th:action="@{/loginSuccess}" method="post">
					<label>管理登录：</label>
					<input id="radio1" th:value="admin" type="radio" name="radio"/>

					<label>读者登录：</label>
					<input id="radio2" th:value="reader" type="radio" name="radio" />
					<br/>
					<br/>

					<label>用户名称：</label>
					<input class="itxt" type="text" placeholder="请输入用户名" autocomplete="off" tabindex="1" name="username" />
					<br />
					<br />
					<label>用户密码：</label>
					<input class="itxt" type="password" placeholder="请输入密码" autocomplete="off" tabindex="1" name="password" />
					<br />
					<br />
					<input type="submit" value="登录" id="sub_btn" />
				</form>
			</div>

		</div>
	</div>
</div>
</div>
<div id="bottom">
			<span>
				三味书屋.Copyright &copy;2022
			</span>
</div>
</body>
</html>