<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style type="text/css">
       h1{
           text-align: center;
           font-size: 30px;
           margin-top: 100px;
           margin-bottom: 100px;
           color: #8ec5fc;
       }
       body{
           background-image: url(http://localhost:8080/library/img/music-bg.jpg);
       }
       .aplayer{
           opacity: 0.6;
       }
    </style>
</head>
<body>



<h1>听歌放松一下吧</h1>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<div id="aplayer" class="aplayer" data-autoplay="true"  data-id="2182683172" data-server="netease" data-type="playlist" data-listfolded="true" data-order="random" data-theme="#F58EA8" ></div>
<script src="https://unpkg.com/meting@1.2.0/dist/Meting.min.js"></script>



</body>
</html>