/* 主页index.html的样式表 */

/* 顶部导航条的容器 */
.topbar-wrapper{
    /* 设置全屏宽度 */
    width: 100%;
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: #333;
}

/* 设置超链接的字体大小和颜色 */
.topbar a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}

/* 设置超链接移入效果 */
.topbar a:hover{
    color: white;
}

/* 设置中间分割线样式 */
.topbar .line{
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
}

/* 设置左侧导航条左浮动 */
.service,.topbar li{
    float: left;
}


.app{
    position: relative;
}

/* 设置app下的小三角 */
/* .app-wrapper:hover>.app::after{ */
    .app::after{
    content: '';
    display: none;
    /* 设置绝对定位 */
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    margin: auto;

    /* display: block; */
    width: 0;
    height: 0;
    /* 设置四个方向的边框 */
    border: 8px solid transparent;
    /* 去除上边框 */
    border-top: none;
    /* 单独设置下边框的颜色 */
    border-bottom-color: #fff;
}

/* .app-wrapper:hover>.app .qrcode{
    display: block;
} */

.app:hover .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}

/* 设置下载app的下拉框 */
.app .qrcode{
    /* display: none; */
    position: absolute;
    /* left: 22px; */
    left: -40px;
    /* margin-left: -62px; */
    width: 124px;
    /* height: 148px; */
    height: 0;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    z-index: 999;
    /* transition: ;用于为样式设置过渡效果 */
    transition: height 0.3s;
}

/* 设置二维码图片 */
.app .qrcode img{
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}

/* 设置二维码文字 */
.app .qrcode span{
    font-size: 14px;
    color: #000;
}

/* 设置右侧导航栏右浮动 */
.shop-cart,.user-info{
    float: right;
}

/* 设置购物车样式 */
.shop-cart{
    margin-left: 26px;
}

/* 设置购物车的样式 */
.shop-cart a{
    width: 120px;
    background-color: #424242;
    text-align: center;
}

.shop-cart:hover a{
    background-color: #fff;
    color: #ff6700;
}

.shop-cart i{
    margin-right: 2px;
}


.cart{
    position: relative;
}

.shop-cart:hover .cart-msg{
    display: block;
    color:#b0b0b0;
}

.cart-msg{
    display: none;
    position: absolute;
    left: -180px;
    width: 300px;
    height: 100px;
    line-height: 1;
    /* text-align: center; */
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .3); */
    border: 1px solid rgba(0, 0, 0, .1);
    border-top: none;
    z-index: 9999;
}

.cart-msg span{
    display: block;
    margin-top: 43px;
    font-size: 14px;
}

html{
    perspective: 800px;
}

.cube {
    width: 200px;
    height: 200px;
    /* background-color: #bfa; */
    margin: 100px auto;
    /* 设置3d变形效果 */
    transform-style: preserve-3d;
    /* transform: rotateX(45deg) rotateZ(45deg); */
    animation: rotate 20s infinite linear;
    /* transform:rotateY(45deg) scaleZ(2); */
}

.cube>div {
    width: 200px;
    height: 200px;
    /* 为元素设置透明效果 */
    opacity: 0.7;
    position: absolute;
}

img {
    width: 100%;
    vertical-align: top;
}

.team{
    height: 0px;
    overflow: hidden;
    transition: height 2s;
    /* height: 400px; */
    width: 100%;
    background-color: #fff;
    /* border-top: 1px solid rgb(224, 224, 224); */
    position: absolute;
    top:40px;
    left: 0px;
    z-index: 999;
    /* box-shadow: 0 5px 3px rgba(0, 0, 0, .2); */
}

.cube{
    float: left;
    margin-left: 80px;
}

.team-wrapper:hover .team,
.team:hover{
    height: 400px;
    border-top: 1px solid rgb(224, 224, 224);
    box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
}

.box1 {
    transform: rotateY(90deg) translateZ(100px);
}

.box2 {
    transform: rotateY(-90deg) translateZ(100px);
}

.box3 {
    transform: rotateX(90deg) translateZ(100px);
}

.box4 {
    transform: rotateX(-90deg) translateZ(100px);
}

.box5 {
    transform:rotateY(180deg) translateZ(100px);
}

.box6 {
    transform: rotateY(0deg) translateZ(100px);
}

@keyframes rotate {
    form{
        transform:rotateX(0) rotateZ(0)
    }

    to{
        transform:rotateX(1turn) rotateZ(1turn)
    }
}

.team-info{
    margin-top: 30px;
    width: 1200px;
    /* background-color: #bfa; */
    float: right;
    /* margin-left: 40px; */
}

/* 设置个人简介 */
.outer{
    width: 180px;
    /* margin: 50px auto; */
    /* 设置阴影 */
    float: left;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin-right: 15px;
}

/* 设置图片 */
.img-wrapper img{
    width: 100%;
    vertical-align: bottom;
}

.info{
    padding: 0 18px;
    font-size: 14px;
    color: #acaaaa;
}

/* 设置标题 */
.info .title{
    color: #717171;
    font-size: 18px;
    margin: 13px 0 15px 0;
}

/* .info .category{
    font-size: 14px;
    color: #acaaaa;
} */

.info .category i{
    margin-right: 7px;
    margin-left: 4px;
}

/* 设置简介的样式 */
.info .intro{
    margin-left: 4px;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 20px;
}